.fen {
  width: 216px;
  height: 260px;
  background: #ff6600;
  float: left;
  position: absolute;
  left: 0;
  top: 136px;
}
.fen .fenlei-l-t {
  height: 210px;
  padding-left: 5px;
}
.fen .fenlei-l-t a {
  color: #fff;
  font-size: 13px;
  line-height: 40px;
  padding: 0 9px;
}
.fen .fenlei-l-t a:hover {
  text-decoration: underline;
}
.fen .fenlei-l-b {
  height: 50px;
  font-size: 14px;
  color: #fff;
  padding: 6px 13px 0;
}
.fen .fenlei-l-b a {
  color: #fff;
}
.fen .fenlei-l-b .aa {
  float: right;
}
