.main1{
width:1200px;
margin:auto;
}
.main2{
width:820px;
margin:auto;
background:#f9f7f5;
}
.header{
width:100%;
height:58px;
border-bottom:2px solid #594a4a;
}
.header a img{
margin-top:4px;
float:left;
}
.header a p{
float:left;
line-height:58px;
font-size:18px;
margin-left:15px;
color:#666;
}
.header .nav{
float:left;
}
.header .nav a{
padding:0 15px;
line-height:58px;
font-size:16px;
color:#666666;
}
.header .nav a:hover{
color:#ff6600;
}
.header .nav a:first-child{
padding-left:60px;
}
.header form{
float:left;
width:216px;
height:34px;
margin-top:10px;
border:1px solid #d1cdcd;
}
.header form input{
width:171px;
height:34px;
border:none;
float:left;
padding-left:10px;
box-sizing:border-box;
color:#d1cdcd;
}
.header form button{
width:45px;
height:34px;
border:none;
background:url("../../images/search_btn.png") no-repeat center #fff;
float:right;
cursor:pointer;
}
.header .login{
float:left;
line-height:58px;
margin-left:33px;
}
.header .login a{
font-size:14px;
color:#4c4c4c;
border-right:1px solid #4c4c4c;
padding:0 11px;
}
.header .login a:last-child{
border:none;
}
.content{
width:100%;
background:#ece8e5;
padding-bottom:20px;
}
.content p{
font-size:15px;
line-height:74px;
background:#ece8e5;
color:#666666;
}
.content p a{
color:#666666;
padding:0 8px;
}
.content .biti{
box-sizing:border-box;
padding:20px;
height:280px;
box-shadow:0 1px 5px #666666;
position:relative;
}
.content .biti h1{
font-size: 36px;
margin-bottom: 40px;
font-family: 'microsoft yahei';
font-weight: 400;
color: #4C4C4C;
}
.content .biti p{
line-height: 28px;
color:#4c4c4c;
background-color:transparent;
}
.content .essay{
padding:20px;
margin-top:15px;
box-shadow:0 1px 5px #666666;
}
.content .essay p{
background-color:transparent;
}
.content .essay .flwx-bot{
position:fixed;
width:202px;
text-align:center;
top:50%;
left:0;
}
.content .essay .flwx-bot p{
line-height:24px;
}
.content .items{
height:60px;
margin-top:15px;
box-shadow:0 1px 5px #666666;
}
.content .items ul a{
display:block;
width:273px;
height:60px;
float:left;
text-align:center;
color:#666666;
font-size:18px;
line-height:60px;
}
.content .all{
width:60px;
height:190px;
position:fixed;
bottom:24px;
right:200px;
}
.content .all a{
display:block;
width:60px;
height:60px;
background:#f9f7f5;
margin-bottom:4px;
overflow:hidden;
color:#666666;
box-shadow:0 1px 3px #bebbb8;
}
.content .item{
width:60px;
height:256px;
position:absolute;
left:-64px;
top:0;
}
.content .item a{
display:block;
width:60px;
height:60px;
background:#f9f7f5;
margin-bottom:4px;
box-shadow:0 1px 3px #bebbb8;
overflow:hidden;
text-align:center;
color:#666666;
}
.content .item a:hover, .content .all a:hover{
background:white;
}
.icon{
display:block;
width:20px;
height:20px;
margin:auto;
margin-top:10px;
background-image:url(../../images/icon.png);
}
.content .all .icon{
margin-top:20px;
}
.content .item .it{
background-position:-220px -242px;
}
.content .item .is{
background-position:-262px -240px;
}
.content .item .ij{
background-position:-222px -270px;
}
.content .item .iy{
background-position:-260px -270px;
}
.content .all .iz{
background-position:-62px -350px;
}
.content .all .iu{
background-position:-124px -350px;
}
.content .all .id{
background-position:-178px -354px;
}