.fenlei {
  height: 260px;
  overflow: hidden;
}
.fenlei .fenlei-l {
  width: 216px;
  height: 260px;
  background: #ff6600;
  float: left;
  position: relative;
  z-index: 9;
}
.fenlei .fenlei-l .fenlei-l-t {
  height: 210px;
  padding-left: 5px;
}
.fenlei .fenlei-l .fenlei-l-t a {
  color: #fff;
  font-size: 13px;
  line-height: 40px;
  padding: 0 9px;
}
.fenlei .fenlei-l .fenlei-l-t a:hover {
  text-decoration: underline;
}
.fenlei .fenlei-l .fenlei-l-b {
  height: 50px;
  font-size: 14px;
  color: #fff;
  padding: 6px 13px 0;
}
.fenlei .fenlei-l .fenlei-l-b a {
  color: #fff;
}
.fenlei .fenlei-l .fenlei-l-b .aa {
  float: right;
}
.fenlei .fenlei-m {
  float: left;
  width: 748px;
  height: 250px;
  overflow: hidden;
  margin: 10px 0 0 10px;
  position: relative;
}
.fenlei .fenlei-m .lunbo {
  width: 200%;
  height: 250px;
  overflow: hidden;
  position: relative;
}
.fenlei .fenlei-m .lunbo li {
  float: left;
  width: 748px;
  height: 250px;
}
.fenlei .fenlei-m .lunbo li img {
  width: 100%;
}
.fenlei .fenlei-m .lun {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.fenlei .fenlei-m .lun li {
  width: 26px;
  height: 6px;
  margin: 0 10px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ccc;
}
.fenlei .fenlei-m .lun .active {
  border: 0;
  background-color: #f60;
}
.fenlei .fenlei-m .next,
.fenlei .fenlei-m .pre {
  display: block;
  position: absolute;
  height: 56px;
  width: 41px;
  top: 50%;
  margin-top: -28px;
  background: url(../../../images/icon.png) no-repeat;
}
.fenlei .fenlei-m .next {
  right: 0;
  background-position: -168px -79px;
}
.fenlei .fenlei-m .next:hover {
  background-position: -69px -79px;
}
.fenlei .fenlei-m .pre {
  left: 0;
  background-position: -121px -79px;
}
.fenlei .fenlei-m .pre:hover {
  background-position: -16px -79px;
}
.fenlei .fenlei-r {
  width: 190px;
  height: 250px;
  background: #fff;
  float: right;
  margin-top: 10px;
  padding: 0 13px;
}
.fenlei .fenlei-r ul {
  margin-top: 10px;
}
.fenlei .fenlei-r ul li:nth-of-type(1) a {
  font-size: 16px;
  color: #ff6600;
}
.fenlei .fenlei-r ul li {
  margin-top: 16px;
}
.fenlei .fenlei-r ul li a {
  font-size: 13px;
  color: #4c4c4c;
}
.fenlei .fenlei-r ul li a:hover {
  color: #ff6600;
}
