#register {
  background: #f9f7f5;
  overflow: hidden;
}
#register .reg {
  width: 488px;
  height: 488px;
  background: #fff;
  box-shadow: 1px 2px 2px rgba(194, 191, 189, 0.8);
  margin: 80px auto;
  padding: 50px 30px 30px;
  box-sizing: border-box;
}
#register .reg p {
  width: 262px;
  line-height: 36px;
  margin: 17px auto;
  font-size: 16px;
  text-align: center;
}
#register .reg p span {
  color: red;
}
#register .reg p .tianxie {
  width: 131px;
  color: #ff6600;
  border-bottom: 2px solid #ff6600;
  display: inline-block;
}
#register .reg p .wancheng {
  width: 131px;
  color: #d1cdcd;
  border-bottom: 2px solid #d1cdcd;
  display: inline-block;
}
#register .reg form {
  margin-top: 16px;
}
#register .reg form p {
  width: 388px;
  font-size: 13px;
  color: #888;
  text-align: left;
  padding-left: 40px;
}
#register .reg form p input {
  width: 260px;
  height: 28px;
  border: 1px solid #d1cdcd;
  border-radius: 2px;
  padding: 0 9px;
  box-sizing: border-box;
  font-size: 12px;
  color: #888;
}
#register .reg form .p1 {
  width: 272px;
  height: 14px;
  margin-top: 20px;
  font-size: 12px;
  color: #888;
}
#register .reg form .p1 .icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-position: -146px -277px;
  margin-right: 6px;
  position: relative;
  top: 2px;
}
#register .reg form .p1 span {
  color: #62abf4;
}
#register .reg form button {
  width: 260px;
  height: 28px;
  background: #ff6600;
  border: 0;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  line-height: 28px;
}
